html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* .App {
  height: 100%;
} */

/* People.jsx */
.people-container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.people-card {
  display: flex;
  justify-content: top;
  border: 1px solid black;
  width: fit-content;
  height: fit-content;
  margin: 10px;
  flex-direction: column;
}
.people-card p {
  margin: 5px;
}
.people-card h5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
